# ============================================
# 1. IGNORAR TODO EL CONTENIDO (PERO PERMITIR NAVEGAR CARPETAS)
# ============================================
/*
!/

# Permitir que Git entre a cualquier subdirectorio para buscar archivos
!*/

# ============================================
# 2. EXCEPCIONES: ARCHIVOS QUE DÉBAS CONSERVAR
# ============================================
# Python
!*.py

# SystemVerilog / Verilog / VHDL
!*.sv
!*.svh
!*.v
!*.vh
!*.vhd

# Imágenes y Documentación
!*.png
!*.jpg
!*.jpeg
!*.md
!*.markdown

# Constraints
!*.xdc
!*.sdc
!*.pdc
!*.ncf
!*.ucf

# Carpetas específicas
!docs/
!docs/**
!modulos/
!modulos/**

# ============================================
# 3. BASURA Y CACHÉ A IGNORAR
# ============================================
# Vivado / Entornos de simulación
.Xil/
vivado_*/
*.log
*.jou
*.pb
*.wcfg
*.wdb
.gen/
.sim/
.runs/
.cache/
.srcs/

# Entornos virtuales y caché de Python
__pycache__/
*.py[cod]
.venv/
env/

# IDEs y SO
.vscode/
.idea/
.DS_Store

*.out
.obsidian/
.obsidian/*
